bin/
obj/
*.user
*.suo
*.pdb
*.log

ModTheSpire2Data/
**/ModTheSpire2Data/

*.zip
ModUploader-win-x64/ModUploader.exe
ModUploader-win-x64/ModUploader.pdb
ModUploader-win-x64/steam_api64.dll
ModUploader-win-x64/mod-uploader.log
ModUploader-win-x64/ModTheSpire2Workspace.legacy/
ModUploader-win-x64/ModTheSpire2Workspace-Lite/
ModUploader-win-x64/NewModWorkspace/

NativeLauncher/*.exe
NativeLauncher/*.obj
NativeLauncher/ModTheSpire2Launcher.full.cpp
NativeLauncher/ModTheSpire2Launcher.pre-order-backup.c

ModTheSpire.jar
